<div{{ attributes.addClass(classes).addClass('m-form-item') }}>

  {% if label_display in ['before', 'invisible'] %}
    <div class="m-form-item__label">
      {{ label }}
    </div>
  {% endif %}

  {% if prefix is not empty %}
    <span class="m-form-item__prefix">{{ prefix }}</span>
  {% endif %}

  {% if description_display == 'before' and description.content %}
    <div{{ description.attributes.addClass('m-form-item__description') }}>
      {{ description.content }}
    </div>
  {% endif %}

  {% if children %}
    <div class="m-form-item__element">
      {{ children }}
    </div>
  {% endif %}

  {% if suffix is not empty %}
    <span class="m-form-item__suffix">{{ suffix }}</span>
  {% endif %}

  {% if label_display == 'after' %}
    <div class="m-form-item__label">
      {{ label }}
    </div>
  {% endif %}

  {% if errors %}
    <div class="m-form-item__error">
      {{ errors }}
    </div>
  {% endif %}

  {% if description_display in ['after', 'invisible'] and description.content %}
    <div{{ description.attributes.addClass(description_classes).addClass('m-form-item__description') }}>
      {{ description.content }}
    </div>
  {% endif %}
</div>
