
{{ title_prefix }}
  {% if heading %}
    <h1{% if h1_variation %} class="{{ h1_variation }}"{% endif %}>
    {% if path %} <a href="{{ path }}"{% if id %} id="{{ id }}"{% endif %}> {% endif %}
      {{ heading }}
    {% if path %} </a> {% endif %}
    </h1>
  {% endif %}
{{ title_suffix }}

